/*styling.css*/
/*add font family, background image*/
body {
    background-color: #34495e;
    color: rgb(239, 246, 249);
    font-family: "Poppins", sans-serif;
  }
  .fa-map-marker-alt,
  .fa-dot-circle {
    color: #DADE5B;
  }
  /*Jumbotron*/
  .jumbotron h2 {
    letter-spacing: 2.5px;
    font-size: 50px;
    text-align: center;
  }

  /*map*/
  #googleMap {
    float:left;
    width: 30%;
    height: 400px;
    margin: 10px auto;
    margin-left: 20px;
  }
  /*output box*/
  #output {
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
  }
  #mode {
    color: black;
  }

  .map2 {
    width: 30%;
    height: 400px;
    float: right;
    margin-right: 90px;
  }